table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px 20px;
  }
  .question_name {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .question_list {
    width: 50%;
  }
  .container {
    padding: 100px;
    /* background: #dff0d8; */
    height: 65vh;
  }
  .btn-primary {
    float: right;
  }